<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>A+B Problem</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


    <!-- Custom styles for this template -->


</head>

<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mb-0" href="/">HBUE_OJ</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/problem/1">题目 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/submit/1">提交</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/ranking">排名</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">帮助</a>
            </li>
        </ul>
        <div class="navbar-nav">
            <div class="nav-item active">
                {% if request.user.is_authenticated %}
                    <span class="navbar-text">
                        Welcome,<a href="/accounts/userHomePage" style="text-decoration: none">
                        {{ user.userprofile.real_name }} </a> |
                        <a href="/accounts/logout" style="text-decoration: none">安全退出</a>
                    </span>
                {% else %}
                    <a class="nav-link" href="/accounts/login">登录</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="container" style="padding-top: 50px; margin: 0 auto; max-width: 900px;">
    <!-- 题目信息 -->
    <div>
        <h1>提交编号: {{ cur_submit.id }} &nbsp
            {% if cur_submit.result == "1" %}<span class="badge badge-success"> Accepted
            {% elif cur_submit.result == "4" %}<span class="badge badge-danger"> Wrong Answer
            {% elif cur_submit.result == "7" %}<span class="badge badge-warning"> Compile Error
            {% endif %}
            </span>
        </h1>
        <hr>

    </div>

    <!-- 题目正文-->
    <div style="padding-left: 20px">
        <div class="d-flex justify-content-around ">
            <div class="text-primary">代码长度: &nbsp {{ cur_submit.codeLength }}</div>
            <div class="text-primary">Time :&nbsp; {{ cur_submit.take_time }}MS</div>
            <div class="text-primary">Memory :&nbsp;{{ cur_submit.take_memory }}KB</div>
            <div class="text-primary">提交人:{{ request.user.userprofile.real_name }}</div>
        </div>
        <hr>
        <br>

        <h4>提交代码</h4>
        <textarea class="form-control" rows="12" disabled>{{ code }}</textarea>
        <br>
        <hr>
        <br>
        {% if error  %}
            <h4 style="color: red">提示信息</h4>
            <textarea class="form-control" rows="10" disabled>{{ error }}</textarea>
        {% endif %}
        <div style="height: 200px"></div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
</body>
</html>
